<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFstream Dashboard</title>
</head>
<body>
    <h1>TFstream LINKS</h1>
    <br>
    <hr>
    <br>
    <h3>Panel: <a href="http://192.168.1.75:2087/panel">192.168.1.75/panel</a></h3>
    <br>
    <h3>Send Long Jump: <a href="http://192.168.1.75:2087/send/LJ">192.168.1.75/send/LJ</a></h3>
    <br>
    <h3>Send Triple Jump: <a href="http://192.168.1.75:2087/send/TJ">192.168.1.75/send/TJ</a></h3>
</body>
</html>